<div class="head-fix">
    <div class="page-head">
        <li class="head-text">问题</li>
        <li class="head-text">文章</li>
        <!--<input type=button value=按扭 onclick="window.location.href='../html/editPlug.html'">-->
    </div>
    <div class="page-head">
        <input type="button" value="提笔写文章" onclick="window.location='/static/html/editPlug.jsp'" style="float:right"/>
    </div>
    <div class="page-head-right">
        <li class="head-text">登录</li>
        <li class="head-text">注册</li>
    </div>

    <hr class="clear-float"/>
</div>