.article-footer
{
    font-size: 12px;
    padding-top: 20px;
    color: #999;
}

/*div li
{
    list-style-type:none;
    float:left;
}*/
.page-head-right
{
    margin-right:50px;
    float:right;
    color: #555555;
}
.question
{
    font-size:27px;
    color: #555555;
    text-decoration:none;
}
.clear-float{
    clear:both;
}

.head-text{
    font-weight:bold;
    padding:7px;
    margin-bottom: 8px;
    margin-top: 8px;
    list-style-type:none;
    float:left;
}
/*.head-fix{
    position :fixed;
}*/
.content-body{
    margin-left: 30px;
    margin-top: 20px;
    margin-bottom: 120px;
}

.article-title{
    text-align: center;
}

.article-content{
    word-wrap:break-word;
    margin-left: 21%;
    margin-right: 20%;
    font-size: 16px;
    line-height:35px;
    color: #555555;
}
.article-title-span{
    height:150px;
    line-height:50px;
    font-size: 26px;
    color: #555;
}