<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.star.mapper.ArticleMapper">

    <resultMap id="article" type="com.star.model.Article">
    </resultMap>
    <select id="queryArticleList" resultMap="article">
        SELECT
            t.id,
            t.title,
            u.nick_name author,
            t.create_time,
            t.content,
            t.price,
            t.article_generalize,
            t.article_length,
            t.read_times
        FROM
          article t
        LEFT JOIN user u on u.id=t.uid
        WHERE
          is_delete=0
        ORDER BY
          create_time desc
    </select>


    <insert id="insertArticle" parameterType="com.star.model.Article">
        INSERT INTO article (
            title,
            author,
            create_time,
            content,
            price,
            uid,
            article_generalize,
            article_length
        )
        VALUES
            (
                #{title},
                #{author},
                now(),
                #{content},
                #{price},
                #{uid},
                #{articleGeneralize},
                #{articleLength}
            );
    </insert>

    <select id="queryArticleById" parameterType="int" resultMap="article">
        SELECT
            a.id,
            a.title,
            u.nick_name author,
            a.create_time,
            a.content,
            a.price,
            a.article_generalize,
            a.article_length,
            a.read_times
        FROM
            article a
        LEFT JOIN user u on u.id=a.uid
        WHERE
            a.id =#{questionId}
        AND a.is_delete=0
    </select>

    <update id="updateReadTimesById" parameterType="int">
        update article SET read_times=read_times+1 where id=#{articleId}
    </update>
</mapper>