<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.star.mapper.ArticleMapper">

    <resultMap id="article" type="com.star.model.Article">
    </resultMap>
    <select id="queryArticleList" resultMap="article">
        SELECT
            id,
            title,
            author,
            create_time,
            content,
            price,
            article_generalize
        FROM
          article
        WHERE
          is_delete=0
        ORDER BY
          create_time desc
    </select>


    <insert id="insertArticle" parameterType="com.star.model.Article">
        INSERT INTO article (
            title,
            author,
            create_time,
            content,
            price,
            uid,
            article_generalize
        )
        VALUES
            (
                #{title},
                #{author},
                now(),
                #{content},
                #{price},
                #{uid},
                #{articleGeneralize}
            );
    </insert>

    <select id="queryArticleById" parameterType="int" resultMap="article">
        SELECT
            id,
            title,
            author,
            create_time,
            content,
            price,
            article_generalize
        FROM
            article
        WHERE
            id =#{questionId}
    </select>
</mapper>